---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

<b><a style="font-size:1.2vw; href="https://www.youtube.com/watch?v=WBLWL1uBDSw"> Energy Transition in Colombia</a></b> <br>
Panelists: Andres Mantilla, Thomas Lutz, Rafael Guzman. <br>
Moderator: <b>Yulman Perez</b><br>
Online, 2022 <br>



{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
